/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;700&display=swap');

/* Base styles */
html {
    font-size: 10pt;
    line-height: 1.2;
    font-family: 'Public Sans', sans-serif;
}

/* Header and sections */
h2 {
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
}

h3 {
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0.4em;
    margin-bottom: 0.2em;
}

/* Lists */
ul {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    padding-left: 1em;
}

ul li {
    margin-bottom: 0.1em;
    line-height: 1.2;
}

/* Links */
a {
    text-decoration: none;
    font-weight: 700;
    color: #36a7e9;
}

/* Dates */
.cvdate {
    float: right;
    font-style: italic;
}

/* Print-specific classes */
.print-only {
    display: none;
}

.no-print {
    display: none;
}

/* Print styles */
@media print {
    @page {
        size: letter portrait;
        margin: 10mm;
        counter-increment: page;
        @bottom-center {
            content: counter(page);
        }
    }

    .print-only {
        display: block;
    }
    .cvdate {
      float: right;
      font-style: italic;
    }

    .contact-block {
        margin-top: 0;
        text-align: center;
    }

    header {
        margin-bottom: .1em;
    }

    header h1.title {
        display: none;
    }

    header .author {
        font-size: 10pt;
        font-weight: 900;
        color: black;
        text-align: center;
        margin-bottom: 0;
        text-transform: capitalize;
    }

    /* Company names */
    h3 + p {
        margin-top: 0;
        margin-bottom: 0.1em;
        font-size: 10pt;
    }

    /* List items in print */
    ul li, p {
        font-size: 10pt;
        margin-bottom: .2em;
    }

    /* Remove underlines from links in print */
    a {
        text-decoration: none;
    }
}
/* Contact info columns */
.columns {
    margin-bottom: 0em;
}

/* Horizontal line */
hr {
    margin: 0.1em;
}

